.table-container {
  margin: 20px;
  padding: 20px;
  background-color: #f6f7fb;
  border-radius: 8px;
  box-shadow: 0 2px 4px 1px rgb(0 0 0 / 19%);
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px; 
  margin-bottom: 10px;
}

.table-header h3 {
  margin: 0;
  flex-grow: 1;
}

.new-user-btn {
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 2px;
}

.new-user-btn:hover {
  background-color: #0056b3;
}
.action-button{
  background: linear-gradient(to right, #4099ff, #73b4ff);
  color: white;
  border: none;
  padding: 7px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.responsive-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

.responsive-table th,
.responsive-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.responsive-table th {
  background: linear-gradient(to right, #4099ff, #73b4ff);
  color: white;
}
.search-icon-data {
  display: flex;
  align-items: center;
  border: 0.5px solid lightgray;
  height: 40px;
  border-radius: 10px;
  background-color: #fff;
  padding: 0 10px;
  gap: 5px;
  width: 100%;
  max-width: 350px; 
  box-sizing: border-box; 
  overflow: hidden;
  margin-bottom: 5px;
}

.search-icon-data input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  padding: 0;
}

.search-icon-data input::placeholder {
  font-size: 12px;
  color: gray;
}

.search-icon-data svg {
  flex-shrink: 0; 
  width: 24px; 
  height: 24px; 
  color: #888;
  margin-left: 5px;
}


.status-text {
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
}

.status-text.Available,.Completed {
  background-color: rgba(0, 128, 0, 0.05);
  color: green;
  font-weight: bold;
}

.status-text.Active{
  background-color: rgba(255, 217, 0, 0.05);
  color: goldenrod;
  font-weight: bold;
}

.status-text.Unavailable{
  background-color: rgba(255, 0, 0, 0.05);
  color: crimson;
  font-weight: bold;
}
 
.status-text.Paid {
  background-color: rgba(0, 128, 0, 0.05);
  color: green;
  font-weight: bold;
}

.status-text.InProcess {
  background-color: rgba(255, 217, 0, 0.05);
  color: goldenrod;
  font-weight: bold;
}

.status-text.Pending{
  background-color: rgba(255, 0, 0, 0.05);
  color: crimson;
  font-weight: bold;
}



.pagination-options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}
.rows-per-page {
  display: flex;
  align-items: center;
  }
  
  .rows-per-page label {
  margin-right: 10px;
  }
  
  .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  }
  
  .page-icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  }
  
  .page-icon:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  }

@media (max-width: 768px) {
  .table-container{
    padding: 10px;
    margin: 2px;
  }
  .table-header h3 {
    font-size: 16px;
  }

  .new-user-btn {
    padding: 6px 12px;
    font-size: 14px;
    margin-bottom: 2px;
  }
  .search-icon-data {
    max-width: 100%;
    margin-left: 0; 
  }
  .search-icon-data svg {
    margin-left: 10px; 
  }
  .responsive-table th,
  .responsive-table td {
    padding: 8px;
    font-size: 12px;
  }
  .search-icon-data svg{
    margin-left: 10px;
  }
}
